
.history-recharge{
  height: 2.1rem;
}
.h-r-tit{
  line-height: .3rem;
  background:$cddd;
  font-size: .14rem;
  text-align:center;
  color:#666;
}
.h-r-body{
  padding: .3rem .3rem .4rem;
  font-size: .17rem;
}
.h-r-sub{
  margin-top: .2rem;
}

.charge-question{
  margin: .2rem 0;
}
