<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>申请提款</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../stylesheets/number/number-index.css?v218" />

    <script type="application/javascript" src="../../js/app/touch.js"></script>
    <script data-main="../../dist/app/heppynewyear-app.js?v2.1034f3" src="../../dist/require.min.js"></script>
    <script>
        window.onload = function(){
            document.addEventListener('touchstart', function(){}, false);
        }
    </script>
</head>
<body>
<article>
    <header>
        <div class="back"><a href="javascript:history.back(1);"></a></div>
        <span class="title">申请提款</span>
    </header>
    <section>
        <div class="scroll-box">

            <!--<div class="drawing" >-->
                <!--<form>-->
                    <!--<div class="model-cont-box">-->
                        <!--<label>真实姓名：</label>-->
                        <!--<div class="cont-box-input">-->
                            <!--<div class="modle-input">-->
                                <!--<input type="text" value="马周" disabled="true">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="model-cont-box s-bank">-->
                        <!--<label>银行名称：</label>-->
                        <!--<div class="cont-box-input">-->
                            <!--<div class="modle-input">-->
                                <!--<input type="text" placeholder="请选择银行" readonly="readonly"><b class="drop-down-btn"></b>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="model-cont-box s-province">-->
                        <!--<label>开户省份：</label>-->
                        <!--<div class="cont-box-input">-->
                            <!--<div class="modle-input">-->
                                <!--<input type="text" placeholder="请选择" readonly="readonly"><b class="drop-down-btn"></b>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="model-cont-box">-->
                        <!--<label>开户城市：</label>-->
                        <!--<div class="cont-box-input">-->
                            <!--<div class="modle-input">-->
                                <!--<input type="text" placeholder="请选择" readonly="readonly"><b class="drop-down-btn"></b>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="model-cont-box">-->
                        <!--<label>银行卡号：</label>-->
                        <!--<div class="cont-box-input">-->
                            <!--<div class="modle-input">-->
                                <!--<input type="text" placeholder="输入银行卡密码" >-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="step-sub">-->
                        <!--<input type="submit" class="btn"  value="下一步">-->
                    <!--</div>-->
                    <!--<p class="service-tele">请注意填写本人的有效资料，必须和银行卡开户姓名和身份证保持一致</p>-->
                <!--</form>-->
            <!--</div>-->
        </div>
    </section>
</article>
<script type="application/javascript" src="../../js/app/route.js"></script>

</body>
</html>