<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>省份选择</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../stylesheets/number/number-index.css?v218" />

    <script type="application/javascript" src="../../js/app/touch.js"></script>
    <script data-main="../../dist/app/heppynewyear-app.js?v2.1034f3" src="../../dist/require.min.js"></script>
    <script>
        window.onload = function(){
            document.addEventListener('touchstart', function(){}, false);
        }
    </script>
</head>
<body>
<article>
    <header>
        <div class="back"><a href="javascript:history.back(1);"></a></div>
        <span class="title">省份选择</span>
    </header>
    <section>
        <div class="scroll-box">
            <!--<div class="province"><ul class="province-list"><li>北京</li><li>上海</li><li>南京</li><li>天津</li><li>河北</li><li>山东</li></ul></div>-->
        </div>
    </section>
</article>
<script type="application/javascript" src="../../js/app/route.js"></script>

</body>
</html>