<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>代充彩金</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../stylesheets/agent-recharge/recharge.css?v218" />
    <script type="application/javascript" src="../../dist/libs/template.min.js"></script>
    <script data-main="../../dist/app/heppynewyear-app.js?v2.1034f3" src="../../dist/require.min.js"></script>
    <script type="text/javascript" src="../../js/libs/iscroll-lite.js" ></script>
    <script>
        window.onload = function(){
            document.addEventListener('touchstart', function(){}, false);
            document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
            load = new iScroll('wrapper');
        }

    </script>
</head>
<body>
<article>

    <header>
        <div class="back"><a href="javascript:history.go(-1)"></a></div>
        <span class="title">代充彩金</span>

        <div class="back"><a href="javascript:history.go(-1)"></a></div>
    </header>
    <section id="wrapper">
        <div class="page">
            <div class="agent-recharge">
                <div class="model-label-input">
                    <label>手机号码：</label>

                    <div class="input-box">
                        <input type="text" placeholder="请输入手机充值号"><b class="go-prefect-btn">拨打确认</b>
                    </div>
                </div>
                <div class="model-label-input">
                    <label>充值金额：</label>

                    <div class="input-box">
                        <input type="text" placeholder="请输入充值金额">
                    </div>
                </div>
                <div class="a-r-function">
                    <p class="agree"><span class="checkbox"><input type="radio"
                                                                   name="rfn"><span></span></span>使用预存款余额：<em class="c-blue">32134.22</em></p>

                    <p class="agree"><span class="checkbox"><input type="radio" name="rfn"><span></span></span>使用红包：<em class="c-blue">345.00</em></p>
                </div>
                <div class="a-r-sub">
                    <input type="sumbit" value="确定" class="btn" disabled="true">
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>