/* line 3, ../../sass/base.scss */
html {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 625%;
  overflow: hidden;
}

/* line 12, ../../sass/base.scss */
body {
  height: 100%;
  font-family: Microsoft YaHei, "微软雅黑", Verdana, Geneva, sans-serif;
  margin: 0;
  font-size: .14rem;
  line-height: 1.5;
  color: #333333;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?-2v7m87");
  src: url("../../fonts/icomoon.eot?#iefix-2v7m87") format("embedded-opentype"), url("../../fonts/icomoon.woff?-2v7m87") format("woff"), url("../../fonts/icomoon.ttf?-2v7m87") format("truetype"), url("../../fonts/icomoon.svg?-2v7m87#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 38, ../../sass/base.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 51, ../../sass/base.scss */
li {
  list-style: none;
}

/* line 52, ../../sass/base.scss */
h1, h2, h3, h4, h5, h6, div, p, dl, dd, dt, ul, ol, li, menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

/* line 54, ../../sass/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 57, ../../sass/base.scss */
em, strong, b, i {
  font-weight: normal;
  font-style: normal;
}

/* line 58, ../../sass/base.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* line 61, ../../sass/base.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 65, ../../sass/base.scss */
img {
  vertical-align: middle;
  border: none;
  width: 100%;
  height: auto;
}

/* line 71, ../../sass/base.scss */
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #333;
}

/* line 77, ../../sass/base.scss */
input {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
}
/* line 79, ../../sass/base.scss */
input:focus {
  outline: none;
}
/* line 82, ../../sass/base.scss */
input:active {
  outline: none;
}

/* line 91, ../../sass/base.scss */
input[type=number] {
  -webkit-appearance: none;
}
/* line 92, ../../sass/base.scss */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* line 95, ../../sass/base.scss */
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* line 100, ../../sass/base.scss */
.hide {
  display: none;
}

/* line 104, ../../sass/base.scss */
.c-blue {
  color: #2f87de;
}

/* line 107, ../../sass/base.scss */
.mt20 {
  margin-top: .2rem;
}

/* line 110, ../../sass/base.scss */
body > article > header {
  width: 100%;
  height: .55rem;
  line-height: .55rem;
  font-size: .22rem;
  color: #fff;
  background: #2f87de;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 120, ../../sass/base.scss */
body > article > header .title {
  display: block;
  font-size: inherit;
  text-align: center;
}
/* line 125, ../../sass/base.scss */
body > article > header ~ section {
  top: .55rem;
}

/* line 129, ../../sass/base.scss */
.back {
  width: .55rem;
  height: 100%;
  position: absolute;
}
/* line 133, ../../sass/base.scss */
.back a {
  display: inline-block;
  width: inherit;
  height: 100%;
  background: url(../../images/back.png) no-repeat center;
  background-size: .19rem;
}
/* line 139, ../../sass/base.scss */
.back a:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 145, ../../sass/base.scss */
.other-fn {
  position: absolute;
  right: .1rem;
  top: 0;
  font-size: .18rem;
}
/* line 150, ../../sass/base.scss */
.other-fn a {
  color: inherit;
}

/* 颜色 */
/* line 155, ../../sass/base.scss */
.c-blue {
  color: #2f87de;
}

/* line 158, ../../sass/base.scss */
body > article > section {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 167, ../../sass/base.scss */
.modle-big-input {
  width: 100%;
  height: .43rem;
}
/* line 170, ../../sass/base.scss */
.modle-big-input input {
  width: 100%;
  height: 100%;
  line-height: .43rem;
  padding-left: .1rem;
  border: 1px solid #ccc;
  border-radius: .04rem;
  font-size: inherit;
}
/* line 178, ../../sass/base.scss */
.modle-big-input input:focus {
  border-color: #2f87de;
}
/* line 181, ../../sass/base.scss */
.modle-big-input input::-webkit-input-placeholder {
  color: #ccc;
}

/**
  输入框
 */
/* line 189, ../../sass/base.scss */
.modle-input {
  width: 100%;
  height: .39rem;
  position: relative;
}
/* line 193, ../../sass/base.scss */
.modle-input input {
  width: 100%;
  height: .39rem;
  padding-left: .1rem;
  border: 1px solid #ccc;
  border-radius: .04rem;
  line-height: .39rem;
  font-size: inherit;
  position: absolute;
}
/* line 202, ../../sass/base.scss */
.modle-input input[disabled] {
  border: none;
  color: #ccc;
  background: #fff;
}
/* line 207, ../../sass/base.scss */
.modle-input input:focus {
  border-color: #2f87de;
}
/* line 210, ../../sass/base.scss */
.modle-input input::-webkit-input-placeholder {
  color: #ccc;
}
/* line 213, ../../sass/base.scss */
.modle-input input[readonly]:focus {
  border-color: #ccc;
}
/* line 218, ../../sass/base.scss */
.modle-input b.show-psd {
  content: '';
  width: .44rem;
  height: .44rem;
  margin-top: -.22rem;
  background: url(../../images/entry/icon_inputbox_eye.png);
  background-size: .44rem .44rem;
  position: absolute;
  right: .07rem;
  top: 50%;
}
/* line 228, ../../sass/base.scss */
.modle-input b.show-psd.active {
  background: url(../../images/entry/icon_inputbox_eye_open.png);
  background-size: .44rem .44rem;
}
/* line 233, ../../sass/base.scss */
.modle-input b.drop-down-btn {
  content: '';
  height: 0;
  width: 0;
  border: .075rem solid #ccc;
  border-color: #ccc transparent transparent transparent;
  position: absolute;
  right: .16rem;
  top: .16rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}
/* line 244, ../../sass/base.scss */
.modle-input b.drop-down-btn.active {
  border-color: #2f87de transparent transparent transparent;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: .1rem;
}

/* line 252, ../../sass/base.scss */
.model-cont-box {
  display: -webkit-box;
  display: box;
  width: 100%;
  line-height: .39rem;
  position: relative;
  font-size: .18rem;
}
/* line 259, ../../sass/base.scss */
.model-cont-box label {
  width: .93rem;
  display: inline-block;
  text-align: right;
  color: #333;
  font-size: inherit;
}
/* line 266, ../../sass/base.scss */
.model-cont-box .cont-box-input {
  -webkit-box-flex: 1;
  box-flex: 1;
  position: relative;
}
/* line 270, ../../sass/base.scss */
.model-cont-box .cont-box-input.channel-source {
  z-index: 1;
}
/* line 274, ../../sass/base.scss */
.model-cont-box .send-code {
  padding: 0  .12rem;
  margin-top: -0.12rem;
  font-size: .13rem;
  line-height: .24rem;
  border-radius: .15rem;
  background: #2f87de;
  color: #fff;
  position: absolute;
  right: .1rem;
  top: 50%;
}

/* 大的右边待下划线的输入框 */
/* line 292, ../../sass/base.scss */
.model-label-input {
  display: -webkit-box;
  display: box;
  height: .45rem;
  line-height: .45rem;
  font-size: .16rem;
  color: #333;
}
/* line 299, ../../sass/base.scss */
.model-label-input label {
  width: .89rem;
  text-align: right;
  font-size: inherit;
}
/* line 304, ../../sass/base.scss */
.model-label-input .input-box {
  -webkit-box-flex: 1;
  box-flex: 1;
  height: inherit;
  position: relative;
}
/* line 309, ../../sass/base.scss */
.model-label-input .input-box > input {
  width: 100%;
  height: 100%;
  line-height: .47rem;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: inherit;
  color: #666;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 321, ../../sass/base.scss */
.model-label-input .input-box > input::-webkit-input-placeholder {
  color: #999;
}
/* line 325, ../../sass/base.scss */
.model-label-input .input-box .go-prefect-btn {
  line-height: .23rem;
  padding: 0 .1rem;
  border: 1px solid #2f87de;
  border-radius: .1rem;
  margin: -0.115rem 0 0;
  color: #2f87de;
  position: absolute;
  top: 50%;
  right: .15rem;
}

/* 按钮 */
/* line 339, ../../sass/base.scss */
.btn {
  width: 100%;
  height: .45rem;
  line-height: .45rem;
  border-radius: .2rem;
  text-align: center;
  font-size: .18rem;
  color: #fff;
  background: #2f87de;
  border: none;
}
/* line 349, ../../sass/base.scss */
.btn:active {
  background: #1479de;
}
/* line 352, ../../sass/base.scss */
.btn[disabled] {
  background: #aed4f9;
}

/* line 356, ../../sass/base.scss */
.model-btn {
  display: block;
  width: 100%;
  line-height: .43rem;
  border: 2px solid #2f87de;
  border-radius: .3rem;
  text-align: center;
  font-size: .17rem;
  color: #2f87de;
}
/* line 365, ../../sass/base.scss */
.model-btn[btn-style="red"] {
  border-color: #e05732;
}

/* line 369, ../../sass/base.scss */
.modle-btn-blue40, .modle-btn-gray40 {
  width: 100%;
  line-height: .4rem;
  border-radius: .17rem;
  text-align: center;
  font-size: .18rem;
  color: #fff;
  background: #2f87de;
  border: none;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
}
/* line 380, ../../sass/base.scss */
.modle-btn-blue40:active, .modle-btn-gray40:active {
  transform: scale(1.05);
}

/* line 384, ../../sass/base.scss */
.modle-btn-gray40 {
  background: #b6b6b6;
}

/* 蓝色背景按钮 */
/* line 389, ../../sass/base.scss */
.model-radius-btn {
  display: inline-block;
  padding: 0 .1rem;
  border-radius: .14rem;
  line-height: .26rem;
  font-size: .16rem;
  color: #fff;
  background: #2f87de;
}

/* 开关按钮 */
/* line 399, ../../sass/base.scss */
.model-switch-btn {
  display: inline-block;
  width: .52rem;
  height: .23rem;
  border: 1px solid #ebebeb;
  border-radius: .12rem;
  background: #2f87de;
  position: relative;
}
/* line 407, ../../sass/base.scss */
.model-switch-btn input {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 411, ../../sass/base.scss */
.model-switch-btn input:after {
  display: block;
  content: "";
  width: .25rem;
  height: .25rem;
  border: 1px solid #e0e0e0;
  border-radius: .25rem;
  background: #fff;
  background-clip: content-box;
  position: absolute;
  right: 0;
  top: -.025rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
/* line 425, ../../sass/base.scss */
.model-switch-btn input:checked:after {
  left: 0;
}

/* 下拉列表 */
/* line 431, ../../sass/base.scss */
.datalist {
  display: none;
  width: 100%;
  margin-top: .1rem;
  border-radius: .04rem;
  position: absolute;
  border: 1px solid #2f87de;
}
/* line 438, ../../sass/base.scss */
.datalist li {
  line-height: .3rem;
  background: #fff;
}
/* line 441, ../../sass/base.scss */
.datalist li:active {
  background: #2f87de;
}

/* 复选框 */
/* line 447, ../../sass/base.scss */
.checkbox {
  display: inline-block;
  width: .16rem;
  height: .16rem;
  border: 1px solid #ccc;
  margin-right: .04rem;
  border-radius: .02rem;
  vertical-align: -2px;
  position: relative;
}
/* line 456, ../../sass/base.scss */
.checkbox input {
  width: .32rem;
  height: .32rem;
  background: #f90;
  position: absolute;
  left: -.12rem;
  top: -.12rem;
  z-index: 1;
  opacity: 0;
}
/* line 465, ../../sass/base.scss */
.checkbox input:checked ~ span {
  width: .08rem;
  height: .12rem;
  border: 2px solid #2f87de;
  border-color: transparent #2f87de #2f87de transparent;
  position: absolute;
  left: .04rem;
  top: -.01rem;
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}

/* 弹层遮罩层 */
/* line 479, ../../sass/base.scss */
.mask {
  display: -webkit-box;
  display: box;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: -100%;
  z-index: 3;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
}

/* line 493, ../../sass/base.scss */
.layout {
  width: 2.7rem;
  margin: auto;
  box-shadow: 0px 0px 10px #333;
  background: #fff;
  border-radius: .05rem;
  overflow: hidden;
}
/* line 500, ../../sass/base.scss */
.layout .layout-header {
  padding-left: .2rem;
  border-bottom: 1px solid #ddd;
  line-height: .46rem;
  font-size: .16rem;
  color: #2f87de;
  background: #eee;
}
/* line 508, ../../sass/base.scss */
.layout .layout-body {
  padding: .25rem .2rem .35rem;
}
/* line 510, ../../sass/base.scss */
.layout .layout-body > input {
  width: 100%;
  font-size: .18rem;
  line-height: .43rem;
  padding-left: .1rem;
  border: 1px solid #ddd;
  border-radius: .04rem;
}
/* line 517, ../../sass/base.scss */
.layout .layout-body > input:focus {
  border: 1px solid #2f87de;
}
/* line 521, ../../sass/base.scss */
.layout .layout-body .input-tip {
  display: block;
  margin: .04rem -.17rem 0 .1rem;
  text-align: left;
  color: #999;
  font-size: .12rem;
}
/* line 529, ../../sass/base.scss */
.layout .layout-footer {
  display: -webkit-box;
  display: box;
}
/* line 532, ../../sass/base.scss */
.layout .layout-footer > a {
  display: block;
  -webkit-box-flex: 1;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: .18rem;
  color: #333;
  line-height: .45rem;
  text-align: center;
}
/* line 541, ../../sass/base.scss */
.layout .layout-footer > a:nth-last-of-type(1) {
  border-right: none;
}
/* line 544, ../../sass/base.scss */
.layout .layout-footer > a.confirm {
  background: #eee;
}

/* 页面下弹层 */
/* line 551, ../../sass/base.scss */
.model-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 90;
  -webkit-animation-name: transbg;
  animation-name: tranbg;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 565, ../../sass/base.scss */
.model-bank-layer {
  width: 100%;
  position: fixed;
  left: 0;
  top: 100%;
  z-index: 91;
  background: #fff;
  -webkit-animation-name: transup;
  animation-name: transup;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: hidden;
  border: 1px solid #f90;
}
/* line 580, ../../sass/base.scss */
.model-bank-layer .bank-list {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
/* line 583, ../../sass/base.scss */
.model-bank-layer .bank-list li {
  width: 33.3333%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 14px;
  float: left;
}
/* line 592, ../../sass/base.scss */
.model-bank-layer .bank-list li:active {
  background: #f8f8f8;
}
/* line 595, ../../sass/base.scss */
.model-bank-layer .bank-list li:nth-of-type(n*2) {
  border: none;
}
/* line 600, ../../sass/base.scss */
.model-bank-layer .confirm-btn {
  margin: 10px;
}
/* line 602, ../../sass/base.scss */
.model-bank-layer .confirm-btn .layer-btn {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #2f87de;
}

/* line 614, ../../sass/base.scss */
.icon-dorp {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-color: transparent #ccc #ccc transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 623, ../../sass/base.scss */
.icon-dorp.up {
  border-color: transparent transparent #ccc #ccc;
}

/* line 630, ../../sass/base.scss */
.icon-fill-dorp {
  display: block;
  width: 0;
  height: 0;
  border: .075rem solid #ccc;
  border-color: #ccc transparent transparent transparent;
}
/* line 637, ../../sass/base.scss */
.icon-fill-dorp.up {
  border-color: transparent transparent #ccc transparent;
}

/* dorp begin */
/* line 642, ../../sass/base.scss */
.model-drop {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: .18rem;
}

/* line 647, ../../sass/base.scss */
.m-d-tit {
  padding-left: .2rem;
  line-height: .45rem;
  color: #333;
}
/* line 651, ../../sass/base.scss */
.m-d-tit:active {
  background: #f8f8f8;
}

/* line 655, ../../sass/base.scss */
.m-d-icon {
  float: right;
  width: .11rem;
  height: .11rem;
  margin: .18rem .2rem;
}

/* line 661, ../../sass/base.scss */
.m-d-cont {
  display: none;
  height: .6rem;
  padding: .06rem .2rem;
  border-top: 1px solid #ddd;
}
/* line 666, ../../sass/base.scss */
.m-d-cont img {
  width: .5rem;
  float: left;
}
/* line 670, ../../sass/base.scss */
.m-d-cont .recharge-tit {
  margin-left: .64rem;
}
/* line 672, ../../sass/base.scss */
.m-d-cont .recharge-tit > a {
  display: inline-block;
}
/* line 675, ../../sass/base.scss */
.m-d-cont .recharge-tit h2 {
  display: inline-block;
  font-size: inherit;
}
/* line 679, ../../sass/base.scss */
.m-d-cont .recharge-tit .icon-recommend {
  display: inline-block;
  padding: 0 .12rem;
  line-height: .18rem;
  font-size: .12rem;
  color: #fff;
  background: #ff9c00;
  border-radius: .12rem;
  vertical-align: .02rem;
}
/* line 690, ../../sass/base.scss */
.m-d-cont .recharge-dis {
  margin-left: .64rem;
  margin-top: .04rem;
  font-size: .12rem;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* dorp end */
@media screen and (min-width: 640px) and (max-width: 719px) {
  /* line 702, ../../sass/base.scss */
  html {
    font-size: 1060%;
  }
}
@media screen and (min-width: 720px) and (max-width: 749px) {
  /* line 708, ../../sass/base.scss */
  html {
    font-size: 1130%;
  }
}
@media screen and (min-width: 750px) {
  /* line 714, ../../sass/base.scss */
  html {
    font-size: 1275%;
  }

  /* line 717, ../../sass/base.scss */
  body > article {
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 3.6rem;
    left: 0;
    right: 0;
    top: 0;
  }
}
@media only screen and (max-width: 639px) and (min-width: 560px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 732, ../../sass/base.scss */
  html {
    font-size: 1000%;
  }
}
@media only screen and (max-width: 559px) and (min-width: 480px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 738, ../../sass/base.scss */
  html {
    font-size: 900%;
  }
}
@media only screen and (max-width: 479px) and (min-width: 420px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 744, ../../sass/base.scss */
  html {
    font-size: 780%;
  }
}
@media only screen and (max-width: 419px) and (min-width: 365px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 750, ../../sass/base.scss */
  html {
    font-size: 650%;
  }
}
@media only screen and (max-width: 364px) and (min-width: 360px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 756, ../../sass/base.scss */
  html {
    font-size: 645%;
  }
}
@media only screen and (max-width: 359px) and (min-width: 340px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 762, ../../sass/base.scss */
  html {
    font-size: 625%;
  }
}
@media only screen and (max-width: 339px) and (min-width: 320px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 768, ../../sass/base.scss */
  html {
    font-size: 570%;
  }
}
/* 动画 */
@-webkit-keyframes transup {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes transup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes transbg {
  0% {
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}
/* 省份 选择 */
/* line 803, ../../sass/base.scss */
.province {
  width: 100%;
}
/* line 806, ../../sass/base.scss */
.province .province-list {
  overflow: hidden;
}
/* line 808, ../../sass/base.scss */
.province .province-list li {
  width: 30.63333%;
  border: 1px solid #ddd;
  margin: 2% 0 0 2%;
  border-radius: 4px;
  float: left;
  text-align: center;
}

/* line 4, ../../sass/entry/register.scss */
.register-cont {
  padding: 0 .1rem;
  font-size: .18rem;
}

/* line 8, ../../sass/entry/register.scss */
.base-msg {
  margin-top: .12rem;
}
/* line 10, ../../sass/entry/register.scss */
.base-msg .model-cont-box {
  margin-top: .1rem;
}

/* line 14, ../../sass/entry/register.scss */
.channel-msg {
  margin-top: .2rem;
}
/* line 16, ../../sass/entry/register.scss */
.channel-msg .model-cont-box {
  margin-top: .1rem;
}

/* line 20, ../../sass/entry/register.scss */
.register-sub {
  margin-top: .22rem;
}

/* line 23, ../../sass/entry/register.scss */
.service-tele {
  width: 100%;
  line-height: .6rem;
  font-size: .17rem;
  text-align: center;
  position: absolute;
  bottom: 0;
}
/* line 30, ../../sass/entry/register.scss */
.service-tele a {
  color: #2f87de;
}

/* line 34, ../../sass/entry/register.scss */
.agree {
  margin-top: .08rem;
  font-size: .13rem;
  clor: #ccc;
}
/* line 38, ../../sass/entry/register.scss */
.agree a {
  color: #2f87de;
}
