
<link rel="stylesheet" href="../../stylesheets/users/users-index.css?v218" />

<article>
    <header>
        <div class="back"><a href="javascript:history.go(-1)"></a></div>
        <span class="title">我的用户</span>
    </header>
    <section id="wrapper">
        <div class="page">
            <div class="usersmanage">
                <menu>
                    <ul class="tab-menu">
                        <li >用户查询</li>
                        <li class="active">群发短信</li>
                        <li>群组管理</li>
                    </ul>
                </menu>
                <section class="tab-cont">
                    <!-- 用户查询 begin -->
                    <div style="display:none">
                        <form action="" id="search-user"></form>
                        <div class="box-border-cont">
                            <div class="b-b-tit">
                                <i class="icon-all"></i><span class="text">全部用户（17人）</span><b class="icon-more"></b>
                            </div>
                            <div class="show-dorp">
                                <div class="model-search">
                                    <input type="text" value="" placeholder="输入要查询的账号手机号" form="search-user"><input class="search-sub" type="submit" value="查询">
                                </div>
                            </div>
                        </div>
                        <div class="box-border-cont">
                            <div class="b-b-tit">
                                <i class="icon-one"></i><span class="text">查询站内单个用户</span><b class="icon-more"></b>
                            </div>
                        </div>
                        <div class="box-border-cont">
                            <div class="b-b-tit">
                                <i class="icon-empty"></i><span class="text">查询站内为充值用户</span><b class="icon-more"></b>
                            </div>
                        </div>
                    </div>
                    <!-- 用户查询 end -->
                    <!-- 短信内容 begin -->
                    <div class="msg-cont" style="display:none">
                        <form action="" id="search-user"></form>
                        <div class="m-c-header">
                            <p class="msg-tips">请选择群发用户短信</p>
                        </div>
                        <div class="box-border-cont">
                            <div class="b-b-tit">
                                <i class="icon-all-users"></i><span class="text">查询所有用户<span class="show-btn"><i class="icon-fill-dorp"></i></span></span>
                                <div class="model-checkbox">
                                    全选
                                    <span class="checkbox"><input type="checkbox"><span></span></span>
                                </div>
                            </div>
                            <div class="show-dorp">
                                <ul class="bor-list">
                                    <li>
                                        <em>13131430669</em>
                                        <span class="checkbox"><input type="checkbox"><span></span></span>
                                    </li>
                                    <li>
                                        <em>13131430669</em>
                                        <span class="checkbox"><input type="checkbox"><span></span></span>
                                    </li>
                                    <li>
                                        <em>13131430669</em>
                                        <span class="checkbox"><input type="checkbox"><span></span></span>
                                    </li>
                                    <li>
                                        <em>13131430669</em>
                                        <span class="checkbox"><input type="checkbox"><span></span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-border-cont">
                            <div class="b-b-tit">
                                <i class="icon-friends"></i><span class="text">朋友（1人）</span>
                                <div class="model-checkbox">
                                    全选
                                    <span class="checkbox"><input type="checkbox"><span></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="msg-input-container">
                            <div class="msg-input-box">

                                <textarea placeholder="请输入短信内容（不超过70字）"></textarea><em class="msg-size">0</em>
                            </div>
                            <div class="m-i-remarks">
                                <p class="msg-tips">群发短信费由您的手机运营商收取</p>
                            </div>

                            <div class="msg-subs">
                                <span>
                                    <input class="modle-btn-blue40" type="submit" value="确定">
                                </span>
                                <span>
                                    <input class="modle-btn-gray40" type="reset" value="取消">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- 短信 end -->
                    <!-- 群组管理 begin -->
                    <div class="group-cont">
                        <div class="g-c-header">
                            <span>我的群组（2组）</span>
                            <a class="creat-grunp-btn" href="javascript:;">新增群组</a>
                        </div>
                        <div class="group-line">
                            <div class="group-box">
                                <i class="icon-dorp-right change"></i><span class="g-b-tit">全部用户（17人）</span>
                                <div class="group-controll-btns">
                                    <span>
                                        <i class="icon-sendmsg"></i>
                                        群发短信
                                    </span>
                                </div>
                            </div>
                            <ul class="bor-list">
                                <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="group-line">
                            <div class="group-box">
                                <i class="icon-dorp-right"></i><span class="g-b-tit">自定义（17人）</span>
                                <div class="group-controll-btns">
                                    <span>
                                        <i class="icon-add"></i>
                                        添加成员
                                    </span>
                                    <span>
                                        <i class="icon-sendmsg"></i>
                                        群发短信
                                    </span>
                                    <span>
                                        <i class="icon-delgroup"></i>
                                        删除群组
                                    </span>
                                </div>
                            </div>
                            <ul class="bor-list">

                                <li>
                                    <em>13131430669</em>
                                </li>
                                <li>
                                    <em>13131430669</em>
                                </li>
                                <li>
                                    <em>13131430669</em>
                                </li>
                                <li>
                                    <em>13131430669</em>
                                </li>
                            </ul>
                        </div>
                        <div class="group-line">
                            <div class="group-box">
                                <i class="icon-dorp-right"></i><span class="g-b-tit">自定义（17人）</span>
                                <div class="group-controll-btns">
                                    <span>
                                        <i class="icon-add"></i>
                                        添加成员
                                    </span>
                                    <span>
                                        <i class="icon-sendmsg"></i>
                                        群发短信
                                    </span>
                                    <span>
                                        <i class="icon-delgroup"></i>
                                        删除群组
                                    </span>
                                </div>
                            </div>
                            <ul class="bor-list">
                                <li>
                                    <em>13131430669</em>
                                </li>
                                <li>
                                    <em>13131430669</em>
                                </li>
                                <li>
                                    <em>13131430669</em>
                                </li>
                                <li>
                                    <em>13131430669</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 群组管理 end -->
                </section>
            </div>
        </div>

    </section>
</article>
<section class="mask" >
    <div class="layout">
        <h2 class="layout-header">新建群组</h2>
        <div class="layout-body">
            <input type="number" value="" placeholder="请输入群组的名称">
            <span class="input-tip"><b>*</b>群组名为2-6个汉子</span>
        </div>
        <div class="layout-footer">
            <a href="" class="cancel">取消</a>
            <a href="" class="confirm">确定</a>
        </div>
    </div>
</section>
<section class="mask creategroup" >
    <form>
    <div class="layout">
        <h2 class="layout-header">请选择要添加的用户</h2>
        <div class="layout-body" id="wrapper2">
            <ul class="bor-list">
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
            </ul>
        </div>
        <div class="layout-footer">
            <a href="" class="cancel">取消</a>
            <a href="" class="confirm">确定</a>
        </div>
    </div>
    </form>
</section>
