/*申请提现*/
/* line 2, ../../sass/mynumber/drawing.scss */
.drawing {
  padding: .075rem .2rem 0;
}
/* line 4, ../../sass/mynumber/drawing.scss */
.drawing .model-cont-box {
  margin-top: .15rem;
}

/* line 8, ../../sass/mynumber/drawing.scss */
.step-sub {
  margin-top: .3rem;
}
