/*
Error: Undefined variable: "$cddd".
        on line 7 of D:/项目文件/oto购票/sass/number/recharge.scss

2: .history-recharge{
3:   height: 2.1rem;
4: }
5: .h-r-tit{
6:   line-height: .3rem;
7:   background:$cddd;
8:   font-size: .14rem;
9:   text-align:center;
10:   color:#666;
11: }
12: .h-r-body{

Backtrace:
D:/项目文件/oto购票/sass/number/recharge.scss:7
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `visit_rule'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `visit_rule'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:30
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:44:in `call'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:44
C:/Ruby187/bin/compass:23:in `load'
C:/Ruby187/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$cddd\".\A         on line 7 of D:/项目文件/oto购票/sass/number/recharge.scss\A \A 2: .history-recharge{\A 3:   height: 2.1rem;\A 4: }\A 5: .h-r-tit{\A 6:   line-height: .3rem;\A 7:   background:$cddd;\A 8:   font-size: .14rem;\A 9:   text-align:center;\A 10:   color:#666;\A 11: }\A 12: .h-r-body{"; }
