<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>完善信息</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../stylesheets/entry/register.css?v218" />

    <script type="application/javascript" src="../../dist/libs/template.min.js"></script>
    <script data-main="../../dist/app/heppynewyear-app.js?v2.1034f3" src="../../dist/require.min.js"></script>
    <script>
        window.onload = function(){
            document.addEventListener('touchstart', function(){}, false);
        }
    </script>
</head>
<body>
<article>
    <header>
        <div class="back"><a href="javascript:history.go(-1)"></a></div>
        <span class="title">完善信息</span>
    </header>
    <section>
        <form action="" >
        <div class="register-cont">
            <div clas="base-msg">
                <div class="count-box">
                    <label>真实姓名：</label>
                    <div class="cont-box-input">
                        <div class="modle-input">
                            <input type="number" placeholder="请输入手机号码">
                        </div>
                    </div>
                </div>
                <div class="count-box">
                    <label>身份证号：</label>
                    <div class="cont-box-input">
                        <div class="modle-input">
                            <input type="unmber" placeholder="请输入身份证号码">
                        </div>
                    </div>
                </div>

            </div>

            <div class="register-sub">
                <input type="submit" class="btn" disabled="true" value="注册">

                <p class="agree"><span class="checkbox"><input type="checkbox"><span></span></span>阅读并同意<a href="">代理商合作协议</a></p>
            </div>
            <p class="service-tele">客服电话：<a href="tel:400-6666-780">400-6666-780</a></p>
        </div>
        </form>
    </section>
</article>
</body>
</html>