<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>注册</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../stylesheets/entry/register.css?v218" />

    <script type="application/javascript" src="../../dist/libs/template.min.js"></script>
    <script data-main="../../dist/app/heppynewyear-app.js?v2.1034f3" src="../../dist/require.min.js"></script>
    <script>
        window.onload = function(){
            document.addEventListener('touchstart', function(){}, false);
        }
    </script>
</head>
<body>
<article>
    <header>
        <div class="back"><a href="javascript:history.go(-1)"></a></div>
        <span class="title">注册</span>
    </header>
    <section>
        <form action="register-perfect.html" >
        <div class="register-cont">
            <div class="base-msg">
                <div class="model-cont-box">
                    <label>手机号码：</label>
                    <div class="cont-box-input">
                        <div class="modle-input">
                            <input type="number" placeholder="请输入手机号码">
                        </div>
                    </div>
                </div>
                <div class="model-cont-box">
                    <label>验证码：</label>
                    <div class="cont-box-input">
                        <div class="modle-input">
                            <input type="unmber" placeholder="请输入验证码"><b class="send-code">获取验证码</b>
                        </div>
                    </div>
                </div>
                <div class="model-cont-box">
                    <label>登录密码：</label>
                    <div class="cont-box-input">
                        <div class="modle-input">
                            <input type="password" placeholder="6-16登录密码"><b class="show-psd"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="channel-msg">
                <div class="model-cont-box">
                    <label>渠道来源：</label>
                    <div class="cont-box-input channel-source">
                        <div class="modle-input">
                            <input type="number" placeholder="投注站渠道"><b class="drop-down-btn"></b>
                        </div>
                        <ul class="datalist">
                            <li>13231430669</li>
                            <li>13231430890</li>
                            <li>13231430890</li>
                            <li>13231430890</li>
                            <li>13231430890</li>
                            <li>13231430890</li>
                            <li>13231430890</li>
                            <li>13231430890</li>
                            <li>13231430890</li>
                        </ul>
                    </div>
                </div>
                <div class="model-cont-box">
                    <label>渠道编号：</label>
                    <div class="cont-box-input">
                        <div class="modle-input">
                            <input type="unmber" placeholder="请输入渠道编号">
                        </div>
                    </div>
                </div>
            </div>
            <div class="register-sub">
                <input type="submit" class="btn"  value="下一步">
            </div>
            <p class="service-tele">客服电话：<a href="tel:400-6666-780">400-6666-780</a></p>
        </div>
        </form>
    </section>
</article>
</body>
</html>