@import '../base';

.header-logo{
  height:2.15rem;
  background:-webkit-linear-gradient(top, #64a7e9, #297dd1);
  font-size: .18rem;
  color:#fff;
  line-height: .35rem;
  text-align:center;
  .register-btn{
    width: .65rem;
    border:1px solid #fff;
    border-radius: .15rem;
    font-size:inherit;
    line-height: .3rem;
    color:inherit;
    position:absolute;
    top: .2rem;
    right: .2rem;
  }
  h1{
    padding: .35rem 0 .08rem;
    img {
      width: .92rem;
      height: .98rem;
    }
  }
}
.login-cont{
  padding: 0 .3rem;
  top: 2.15rem;
}


.login-user{
  height: .44rem;
  margin-top: .3rem;
  line-height: .44rem;
  position:relative;
  z-index:1;
  input{
    height: .44rem;
    line-height: .44rem;
    padding-left: .44rem;
    background:url(../../images/entry/icon_inputbox_user.png) no-repeat left;
    background-size: .44rem;
    transition:all .05s linear;
    &:focus{
      background:url(../../images/entry/icon_inputbox_user_act.png) no-repeat left;
      background-size: .44rem;
    }
  }
}
.login-psd{
  margin-top: .1rem;
  height: .44rem;
  line-height: .44rem;
  .model-input{
    height: inherit;
  }
  input{
    height: .44rem;
    line-height: .44rem;
    padding-left: .44rem;
    background:url(../../images/entry/icon_inputbox_password.png) no-repeat left;
    background-size: .44rem;
    &:focus{
      background:url(../../images/entry/icon_inputbox_password_act.png) no-repeat left;
      background-size: .44rem;
    }
  }
}
.login-sub{
  margin-top: .2rem;
}
