/* line 3, ../../sass/base.scss */
html {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 625%;
  overflow: hidden;
}

/* line 12, ../../sass/base.scss */
body {
  height: 100%;
  font-family: Microsoft YaHei, "微软雅黑", Verdana, Geneva, sans-serif;
  margin: 0;
  font-size: .14rem;
  line-height: 1.5;
  color: #333333;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?-2v7m87");
  src: url("../../fonts/icomoon.eot?#iefix-2v7m87") format("embedded-opentype"), url("../../fonts/icomoon.woff?-2v7m87") format("woff"), url("../../fonts/icomoon.ttf?-2v7m87") format("truetype"), url("../../fonts/icomoon.svg?-2v7m87#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 38, ../../sass/base.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 51, ../../sass/base.scss */
li {
  list-style: none;
}

/* line 52, ../../sass/base.scss */
h1, h2, h3, h4, h5, h6, div, p, dl, dd, dt, ul, ol, li, menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

/* line 54, ../../sass/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 57, ../../sass/base.scss */
em, strong, b, i {
  font-weight: normal;
  font-style: normal;
}

/* line 58, ../../sass/base.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* line 61, ../../sass/base.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 65, ../../sass/base.scss */
img {
  vertical-align: middle;
  border: none;
  width: 100%;
  height: auto;
}

/* line 71, ../../sass/base.scss */
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #333;
}

/* line 77, ../../sass/base.scss */
input {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
}
/* line 79, ../../sass/base.scss */
input:focus {
  outline: none;
}
/* line 82, ../../sass/base.scss */
input:active {
  outline: none;
}

/* line 91, ../../sass/base.scss */
input[type=number] {
  -webkit-appearance: none;
}
/* line 92, ../../sass/base.scss */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* line 95, ../../sass/base.scss */
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* line 100, ../../sass/base.scss */
.hide {
  display: none;
}

/* line 104, ../../sass/base.scss */
.c-blue {
  color: #2f87de;
}

/* line 107, ../../sass/base.scss */
.mt20 {
  margin-top: .2rem;
}

/* line 110, ../../sass/base.scss */
body > article > header {
  width: 100%;
  height: .55rem;
  line-height: .55rem;
  font-size: .22rem;
  color: #fff;
  background: #2f87de;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 120, ../../sass/base.scss */
body > article > header .title {
  display: block;
  font-size: inherit;
  text-align: center;
}
/* line 125, ../../sass/base.scss */
body > article > header ~ section {
  top: .55rem;
}

/* line 129, ../../sass/base.scss */
.back {
  width: .55rem;
  height: 100%;
  position: absolute;
}
/* line 133, ../../sass/base.scss */
.back a {
  display: inline-block;
  width: inherit;
  height: 100%;
  background: url(../../images/back.png) no-repeat center;
  background-size: .19rem;
}
/* line 139, ../../sass/base.scss */
.back a:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 145, ../../sass/base.scss */
.other-fn {
  position: absolute;
  right: .1rem;
  top: 0;
  font-size: .18rem;
}
/* line 150, ../../sass/base.scss */
.other-fn a {
  color: inherit;
}

/* 颜色 */
/* line 155, ../../sass/base.scss */
.c-blue {
  color: #2f87de;
}

/* line 158, ../../sass/base.scss */
body > article > section {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 167, ../../sass/base.scss */
.modle-big-input {
  width: 100%;
  height: .43rem;
}
/* line 170, ../../sass/base.scss */
.modle-big-input input {
  width: 100%;
  height: 100%;
  line-height: .43rem;
  padding-left: .1rem;
  border: 1px solid #ccc;
  border-radius: .04rem;
  font-size: inherit;
}
/* line 178, ../../sass/base.scss */
.modle-big-input input:focus {
  border-color: #2f87de;
}
/* line 181, ../../sass/base.scss */
.modle-big-input input::-webkit-input-placeholder {
  color: #ccc;
}

/**
  输入框
 */
/* line 189, ../../sass/base.scss */
.modle-input {
  width: 100%;
  height: .39rem;
  position: relative;
}
/* line 193, ../../sass/base.scss */
.modle-input input {
  width: 100%;
  height: .39rem;
  padding-left: .1rem;
  border: 1px solid #ccc;
  border-radius: .04rem;
  line-height: .39rem;
  font-size: inherit;
  position: absolute;
}
/* line 202, ../../sass/base.scss */
.modle-input input[disabled] {
  border: none;
  color: #ccc;
  background: #fff;
}
/* line 207, ../../sass/base.scss */
.modle-input input:focus {
  border-color: #2f87de;
}
/* line 210, ../../sass/base.scss */
.modle-input input::-webkit-input-placeholder {
  color: #ccc;
}
/* line 213, ../../sass/base.scss */
.modle-input input[readonly]:focus {
  border-color: #ccc;
}
/* line 218, ../../sass/base.scss */
.modle-input b.show-psd {
  content: '';
  width: .44rem;
  height: .44rem;
  margin-top: -.22rem;
  background: url(../../images/entry/icon_inputbox_eye.png);
  background-size: .44rem .44rem;
  position: absolute;
  right: .07rem;
  top: 50%;
}
/* line 228, ../../sass/base.scss */
.modle-input b.show-psd.active {
  background: url(../../images/entry/icon_inputbox_eye_open.png);
  background-size: .44rem .44rem;
}
/* line 233, ../../sass/base.scss */
.modle-input b.drop-down-btn {
  content: '';
  height: 0;
  width: 0;
  border: .075rem solid #ccc;
  border-color: #ccc transparent transparent transparent;
  position: absolute;
  right: .16rem;
  top: .16rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}
/* line 244, ../../sass/base.scss */
.modle-input b.drop-down-btn.active {
  border-color: #2f87de transparent transparent transparent;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: .1rem;
}

/* line 252, ../../sass/base.scss */
.model-cont-box {
  display: -webkit-box;
  display: box;
  width: 100%;
  line-height: .39rem;
  position: relative;
  font-size: .18rem;
}
/* line 259, ../../sass/base.scss */
.model-cont-box label {
  width: .93rem;
  display: inline-block;
  text-align: right;
  color: #333;
  font-size: inherit;
}
/* line 266, ../../sass/base.scss */
.model-cont-box .cont-box-input {
  -webkit-box-flex: 1;
  box-flex: 1;
  position: relative;
}
/* line 270, ../../sass/base.scss */
.model-cont-box .cont-box-input.channel-source {
  z-index: 1;
}
/* line 274, ../../sass/base.scss */
.model-cont-box .send-code {
  padding: 0  .12rem;
  margin-top: -0.12rem;
  font-size: .13rem;
  line-height: .24rem;
  border-radius: .15rem;
  background: #2f87de;
  color: #fff;
  position: absolute;
  right: .1rem;
  top: 50%;
}

/* 大的右边待下划线的输入框 */
/* line 292, ../../sass/base.scss */
.model-label-input {
  display: -webkit-box;
  display: box;
  height: .45rem;
  line-height: .45rem;
  font-size: .16rem;
  color: #333;
}
/* line 299, ../../sass/base.scss */
.model-label-input label {
  width: .89rem;
  text-align: right;
  font-size: inherit;
}
/* line 304, ../../sass/base.scss */
.model-label-input .input-box {
  -webkit-box-flex: 1;
  box-flex: 1;
  height: inherit;
  position: relative;
}
/* line 309, ../../sass/base.scss */
.model-label-input .input-box > input {
  width: 100%;
  height: 100%;
  line-height: .47rem;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: inherit;
  color: #666;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 321, ../../sass/base.scss */
.model-label-input .input-box > input::-webkit-input-placeholder {
  color: #999;
}
/* line 325, ../../sass/base.scss */
.model-label-input .input-box .go-prefect-btn {
  line-height: .23rem;
  padding: 0 .1rem;
  border: 1px solid #2f87de;
  border-radius: .1rem;
  margin: -0.115rem 0 0;
  color: #2f87de;
  position: absolute;
  top: 50%;
  right: .15rem;
}

/* 按钮 */
/* line 339, ../../sass/base.scss */
.btn {
  width: 100%;
  height: .45rem;
  line-height: .45rem;
  border-radius: .2rem;
  text-align: center;
  font-size: .18rem;
  color: #fff;
  background: #2f87de;
  border: none;
}
/* line 349, ../../sass/base.scss */
.btn:active {
  background: #1479de;
}
/* line 352, ../../sass/base.scss */
.btn[disabled] {
  background: #aed4f9;
}

/* line 356, ../../sass/base.scss */
.model-btn {
  display: block;
  width: 100%;
  line-height: .43rem;
  border: 2px solid #2f87de;
  border-radius: .3rem;
  text-align: center;
  font-size: .17rem;
  color: #2f87de;
}
/* line 365, ../../sass/base.scss */
.model-btn[btn-style="red"] {
  border-color: #e05732;
}

/* line 369, ../../sass/base.scss */
.modle-btn-blue40, .modle-btn-gray40 {
  width: 100%;
  line-height: .4rem;
  border-radius: .17rem;
  text-align: center;
  font-size: .18rem;
  color: #fff;
  background: #2f87de;
  border: none;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
}
/* line 380, ../../sass/base.scss */
.modle-btn-blue40:active, .modle-btn-gray40:active {
  transform: scale(1.05);
}

/* line 384, ../../sass/base.scss */
.modle-btn-gray40 {
  background: #b6b6b6;
}

/* 蓝色背景按钮 */
/* line 389, ../../sass/base.scss */
.model-radius-btn {
  display: inline-block;
  padding: 0 .1rem;
  border-radius: .14rem;
  line-height: .26rem;
  font-size: .16rem;
  color: #fff;
  background: #2f87de;
}

/* 开关按钮 */
/* line 399, ../../sass/base.scss */
.model-switch-btn {
  display: inline-block;
  width: .52rem;
  height: .23rem;
  border: 1px solid #ebebeb;
  border-radius: .12rem;
  background: #2f87de;
  position: relative;
}
/* line 407, ../../sass/base.scss */
.model-switch-btn input {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 411, ../../sass/base.scss */
.model-switch-btn input:after {
  display: block;
  content: "";
  width: .25rem;
  height: .25rem;
  border: 1px solid #e0e0e0;
  border-radius: .25rem;
  background: #fff;
  background-clip: content-box;
  position: absolute;
  right: 0;
  top: -.025rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
/* line 425, ../../sass/base.scss */
.model-switch-btn input:checked:after {
  left: 0;
}

/* 下拉列表 */
/* line 431, ../../sass/base.scss */
.datalist {
  display: none;
  width: 100%;
  margin-top: .1rem;
  border-radius: .04rem;
  position: absolute;
  border: 1px solid #2f87de;
}
/* line 438, ../../sass/base.scss */
.datalist li {
  line-height: .3rem;
  background: #fff;
}
/* line 441, ../../sass/base.scss */
.datalist li:active {
  background: #2f87de;
}

/* 复选框 */
/* line 447, ../../sass/base.scss */
.checkbox {
  display: inline-block;
  width: .16rem;
  height: .16rem;
  border: 1px solid #ccc;
  margin-right: .04rem;
  border-radius: .02rem;
  vertical-align: -2px;
  position: relative;
}
/* line 456, ../../sass/base.scss */
.checkbox input {
  width: .32rem;
  height: .32rem;
  background: #f90;
  position: absolute;
  left: -.12rem;
  top: -.12rem;
  z-index: 1;
  opacity: 0;
}
/* line 465, ../../sass/base.scss */
.checkbox input:checked ~ span {
  width: .08rem;
  height: .12rem;
  border: 2px solid #2f87de;
  border-color: transparent #2f87de #2f87de transparent;
  position: absolute;
  left: .04rem;
  top: -.01rem;
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}

/* 弹层遮罩层 */
/* line 479, ../../sass/base.scss */
.mask {
  display: -webkit-box;
  display: box;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: -100%;
  z-index: 3;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
}

/* line 493, ../../sass/base.scss */
.layout {
  width: 2.7rem;
  margin: auto;
  box-shadow: 0px 0px 10px #333;
  background: #fff;
  border-radius: .05rem;
  overflow: hidden;
}
/* line 500, ../../sass/base.scss */
.layout .layout-header {
  padding-left: .2rem;
  border-bottom: 1px solid #ddd;
  line-height: .46rem;
  font-size: .16rem;
  color: #2f87de;
  background: #eee;
}
/* line 508, ../../sass/base.scss */
.layout .layout-body {
  padding: .25rem .2rem .35rem;
}
/* line 510, ../../sass/base.scss */
.layout .layout-body > input {
  width: 100%;
  font-size: .18rem;
  line-height: .43rem;
  padding-left: .1rem;
  border: 1px solid #ddd;
  border-radius: .04rem;
}
/* line 517, ../../sass/base.scss */
.layout .layout-body > input:focus {
  border: 1px solid #2f87de;
}
/* line 521, ../../sass/base.scss */
.layout .layout-body .input-tip {
  display: block;
  margin: .04rem -.17rem 0 .1rem;
  text-align: left;
  color: #999;
  font-size: .12rem;
}
/* line 529, ../../sass/base.scss */
.layout .layout-footer {
  display: -webkit-box;
  display: box;
}
/* line 532, ../../sass/base.scss */
.layout .layout-footer > a {
  display: block;
  -webkit-box-flex: 1;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: .18rem;
  color: #333;
  line-height: .45rem;
  text-align: center;
}
/* line 541, ../../sass/base.scss */
.layout .layout-footer > a:nth-last-of-type(1) {
  border-right: none;
}
/* line 544, ../../sass/base.scss */
.layout .layout-footer > a.confirm {
  background: #eee;
}

/* 页面下弹层 */
/* line 551, ../../sass/base.scss */
.model-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 90;
  -webkit-animation-name: transbg;
  animation-name: tranbg;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 565, ../../sass/base.scss */
.model-bank-layer {
  width: 100%;
  position: fixed;
  left: 0;
  top: 100%;
  z-index: 91;
  background: #fff;
  -webkit-animation-name: transup;
  animation-name: transup;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: hidden;
  border: 1px solid #f90;
}
/* line 580, ../../sass/base.scss */
.model-bank-layer .bank-list {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
/* line 583, ../../sass/base.scss */
.model-bank-layer .bank-list li {
  width: 33.3333%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 14px;
  float: left;
}
/* line 592, ../../sass/base.scss */
.model-bank-layer .bank-list li:active {
  background: #f8f8f8;
}
/* line 595, ../../sass/base.scss */
.model-bank-layer .bank-list li:nth-of-type(n*2) {
  border: none;
}
/* line 600, ../../sass/base.scss */
.model-bank-layer .confirm-btn {
  margin: 10px;
}
/* line 602, ../../sass/base.scss */
.model-bank-layer .confirm-btn .layer-btn {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #2f87de;
}

/* line 614, ../../sass/base.scss */
.icon-dorp {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-color: transparent #ccc #ccc transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 623, ../../sass/base.scss */
.icon-dorp.up {
  border-color: transparent transparent #ccc #ccc;
}

/* line 630, ../../sass/base.scss */
.icon-fill-dorp {
  display: block;
  width: 0;
  height: 0;
  border: .075rem solid #ccc;
  border-color: #ccc transparent transparent transparent;
}
/* line 637, ../../sass/base.scss */
.icon-fill-dorp.up {
  border-color: transparent transparent #ccc transparent;
}

/* dorp begin */
/* line 642, ../../sass/base.scss */
.model-drop {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: .18rem;
}

/* line 647, ../../sass/base.scss */
.m-d-tit {
  padding-left: .2rem;
  line-height: .45rem;
  color: #333;
}
/* line 651, ../../sass/base.scss */
.m-d-tit:active {
  background: #f8f8f8;
}

/* line 655, ../../sass/base.scss */
.m-d-icon {
  float: right;
  width: .11rem;
  height: .11rem;
  margin: .18rem .2rem;
}

/* line 661, ../../sass/base.scss */
.m-d-cont {
  display: none;
  height: .6rem;
  padding: .06rem .2rem;
  border-top: 1px solid #ddd;
}
/* line 666, ../../sass/base.scss */
.m-d-cont img {
  width: .5rem;
  float: left;
}
/* line 670, ../../sass/base.scss */
.m-d-cont .recharge-tit {
  margin-left: .64rem;
}
/* line 672, ../../sass/base.scss */
.m-d-cont .recharge-tit > a {
  display: inline-block;
}
/* line 675, ../../sass/base.scss */
.m-d-cont .recharge-tit h2 {
  display: inline-block;
  font-size: inherit;
}
/* line 679, ../../sass/base.scss */
.m-d-cont .recharge-tit .icon-recommend {
  display: inline-block;
  padding: 0 .12rem;
  line-height: .18rem;
  font-size: .12rem;
  color: #fff;
  background: #ff9c00;
  border-radius: .12rem;
  vertical-align: .02rem;
}
/* line 690, ../../sass/base.scss */
.m-d-cont .recharge-dis {
  margin-left: .64rem;
  margin-top: .04rem;
  font-size: .12rem;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* dorp end */
@media screen and (min-width: 640px) and (max-width: 719px) {
  /* line 702, ../../sass/base.scss */
  html {
    font-size: 1060%;
  }
}
@media screen and (min-width: 720px) and (max-width: 749px) {
  /* line 708, ../../sass/base.scss */
  html {
    font-size: 1130%;
  }
}
@media screen and (min-width: 750px) {
  /* line 714, ../../sass/base.scss */
  html {
    font-size: 1275%;
  }

  /* line 717, ../../sass/base.scss */
  body > article {
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 3.6rem;
    left: 0;
    right: 0;
    top: 0;
  }
}
@media only screen and (max-width: 639px) and (min-width: 560px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 732, ../../sass/base.scss */
  html {
    font-size: 1000%;
  }
}
@media only screen and (max-width: 559px) and (min-width: 480px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 738, ../../sass/base.scss */
  html {
    font-size: 900%;
  }
}
@media only screen and (max-width: 479px) and (min-width: 420px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 744, ../../sass/base.scss */
  html {
    font-size: 780%;
  }
}
@media only screen and (max-width: 419px) and (min-width: 365px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 750, ../../sass/base.scss */
  html {
    font-size: 650%;
  }
}
@media only screen and (max-width: 364px) and (min-width: 360px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 756, ../../sass/base.scss */
  html {
    font-size: 645%;
  }
}
@media only screen and (max-width: 359px) and (min-width: 340px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 762, ../../sass/base.scss */
  html {
    font-size: 625%;
  }
}
@media only screen and (max-width: 339px) and (min-width: 320px) {
  /* line 4, ../../sass/activitys/base.scss */
  /* line 768, ../../sass/base.scss */
  html {
    font-size: 570%;
  }
}
/* 动画 */
@-webkit-keyframes transup {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes transup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes transbg {
  0% {
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}
/* 省份 选择 */
/* line 803, ../../sass/base.scss */
.province {
  width: 100%;
}
/* line 806, ../../sass/base.scss */
.province .province-list {
  overflow: hidden;
}
/* line 808, ../../sass/base.scss */
.province .province-list li {
  width: 30.63333%;
  border: 1px solid #ddd;
  margin: 2% 0 0 2%;
  border-radius: 4px;
  float: left;
  text-align: center;
}

/* line 6, ../../sass/myusers/myusers-index.scss */
.tab-menu {
  display: -webkit-box;
  display: box;
  width: 100%;
}
/* line 10, ../../sass/myusers/myusers-index.scss */
.tab-menu li {
  line-height: .41rem;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-bottom: 1px solid #2f87de;
  font-size: .18rem;
  color: #333;
  text-align: center;
}
/* line 18, ../../sass/myusers/myusers-index.scss */
.tab-menu li.active {
  border-width: 3px;
  color: #2f87de;
}

/* 用户查询 begin */
/* line 25, ../../sass/myusers/myusers-index.scss */
.box-border-cont {
  height: .45rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: .2rem 0;
  font-size: .16rem;
  color: #333;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
  overflow: hidden;
}

/* line 36, ../../sass/myusers/myusers-index.scss */
.b-b-tit {
  display: -webkit-box;
  display: box;
  padding: 0 .18rem;
  line-height: .45rem;
  -webkit-box-align: center;
  box-align: center;
}
/* line 43, ../../sass/myusers/myusers-index.scss */
.b-b-tit > * {
  display: block;
  background-size: 100%;
}
/* line 47, ../../sass/myusers/myusers-index.scss */
.b-b-tit .text {
  padding-left: .06rem;
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 52, ../../sass/myusers/myusers-index.scss */
.b-b-tit .icon-all, .b-b-tit .icon-one, .b-b-tit .icon-empty {
  width: .21rem;
  height: .25rem;
  background-image: url(../../images/users/icon_alluser.png);
}
/* line 57, ../../sass/myusers/myusers-index.scss */
.b-b-tit .icon-one {
  background-image: url(../../images/users/icon_search_one.png);
}
/* line 61, ../../sass/myusers/myusers-index.scss */
.b-b-tit .icon-empty {
  background-image: url(../../images/users/icon_search_recharge.png);
}
/* line 65, ../../sass/myusers/myusers-index.scss */
.b-b-tit .show-btn {
  display: inline-block;
  width: .075rem;
  height: .075rem;
}
/* line 70, ../../sass/myusers/myusers-index.scss */
.b-b-tit .icon-more {
  width: .13rem;
  height: .19rem;
  margin-right: .05rem;
  background-image: url(../../images/users/icon_arrow.png);
}

/* line 77, ../../sass/myusers/myusers-index.scss */
.show-dorp {
  width: 2.6rem;
  margin: 0 0 .13rem .18rem;
}

/* line 82, ../../sass/myusers/myusers-index.scss */
.model-search {
  position: relative;
}
/* line 84, ../../sass/myusers/myusers-index.scss */
.model-search input:first-child {
  width: 100%;
  height: .29rem;
  padding-left: .32rem;
  border: 1px solid #ddd;
  border-radius: .04rem;
  line-height: .29rem;
  font-size: inherit;
}
/* line 92, ../../sass/myusers/myusers-index.scss */
.model-search input:first-child::-webkit-input-placeholder {
  color: #ccc;
}
/* line 96, ../../sass/myusers/myusers-index.scss */
.model-search .search-sub {
  width: .29rem;
  height: .29rem;
  border: none;
  background: url(../../images/users/icon_search.png) 0 0.02rem;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
}

/* 用户列表 begin */
/* line 111, ../../sass/myusers/myusers-index.scss */
.menu-list {
  padding: .02rem 0;
  border-top: 1px solid #ddd;
  background: #eee;
  overflow: hidden;
}
/* line 116, ../../sass/myusers/myusers-index.scss */
.menu-list li {
  width: 33.333%;
  height: ．4rem;
  border-left: 1px solid #ccc;
  float: left;
  text-align: center;
  color: #333;
}
/* line 123, ../../sass/myusers/myusers-index.scss */
.menu-list li:first-child {
  border: none;
}
/* line 126, ../../sass/myusers/myusers-index.scss */
.menu-list li .sort-btns {
  display: inline-block;
  vertical-align: middle;
}
/* line 129, ../../sass/myusers/myusers-index.scss */
.menu-list li .sort-btns i {
  display: block;
  height: 0;
  width: 0;
  border: .075rem solid transparent;
  margin: .02rem .05rem;
}
/* line 135, ../../sass/myusers/myusers-index.scss */
.menu-list li .sort-btns i.icon-up {
  border-bottom-color: #ccc;
}
/* line 137, ../../sass/myusers/myusers-index.scss */
.menu-list li .sort-btns i.icon-up.active {
  border-bottom-color: #2f87de;
}
/* line 141, ../../sass/myusers/myusers-index.scss */
.menu-list li .sort-btns i.icon-down {
  border-top-color: #ccc;
}
/* line 143, ../../sass/myusers/myusers-index.scss */
.menu-list li .sort-btns i.icon-down.active {
  border-top-color: #2f87de;
}

/* line 153, ../../sass/myusers/myusers-index.scss */
.users-list li {
  height: .6rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: .15rem;
  position: relative;
}
/* line 159, ../../sass/myusers/myusers-index.scss */
.users-list li a {
  display: block;
  height: inherit;
  background: #f90;
}
/* line 163, ../../sass/myusers/myusers-index.scss */
.users-list li a:active {
  background: #f8f8f8;
}
/* line 166, ../../sass/myusers/myusers-index.scss */
.users-list li a > div {
  width: 33.33333%;
  padding-top: .08rem;
  float: left;
  font-size: .14rem;
  text-align: center;
}
/* line 174, ../../sass/myusers/myusers-index.scss */
.users-list li .icon-more {
  width: .13rem;
  height: .19rem;
  background-image: url(../../images/users/icon_arrow.png);
  background-size: 100%;
  position: absolute;
  right: .05rem;
  top: .22rem;
}
/* line 183, ../../sass/myusers/myusers-index.scss */
.users-list li .price {
  margin-top: -.01rem;
}
/* line 185, ../../sass/myusers/myusers-index.scss */
.users-list li .price .user-name, .users-list li .price .user-price {
  padding-left: .16rem;
  color: #2f87de;
  font-size: .12rem;
  position: relative;
}
/* line 190, ../../sass/myusers/myusers-index.scss */
.users-list li .price .user-name [class*="icon"], .users-list li .price .user-price [class*="icon"] {
  width: .16rem;
  height: .16rem;
  margin: 0rem 0 0 -.16rem;
  background-size: 100%;
  position: absolute;
}
/* line 197, ../../sass/myusers/myusers-index.scss */
.users-list li .price .user-name .icon-user, .users-list li .price .user-price .icon-user {
  background-image: url(../../images/users/user_user.png);
}
/* line 201, ../../sass/myusers/myusers-index.scss */
.users-list li .price .user-price {
  top: .01rem;
  color: #333;
  font-size: .14rem;
}
/* line 206, ../../sass/myusers/myusers-index.scss */
.users-list li .price .user-price .icon-price {
  margin-right: .04rem;
  background-image: url(../../images/users/user_cash.png);
}
/* line 213, ../../sass/myusers/myusers-index.scss */
.users-list li .time time {
  display: block;
  color: #666;
}

/* 用户列表 end */
/* 用户详情 begin */
/* line 227, ../../sass/myusers/myusers-index.scss */
.user-bg {
  margin-top: -.2rem;
  background: #eee;
}
/* line 230, ../../sass/myusers/myusers-index.scss */
.user-bg .icon-user {
  display: inline-block;
  width: .16rem;
  height: .17rem;
  margin-right: .08rem;
  background: url(../../images/users/icon_user_detail.png);
  background-size: 100%;
}

/* line 239, ../../sass/myusers/myusers-index.scss */
.user-remarks {
  border-bottom: 1px solid #ddd;
}

/* line 242, ../../sass/myusers/myusers-index.scss */
.u-r-box {
  padding: .075rem 0 0 .1rem;
}
/* line 245, ../../sass/myusers/myusers-index.scss */
.u-r-box .model-switch-btn {
  position: absolute;
  right: .1rem;
  top: .115rem;
}
/* line 250, ../../sass/myusers/myusers-index.scss */
.u-r-box .model-label-input:last-child .input-box input {
  border: none;
}

/* 用户充值注册时间 */
/* line 255, ../../sass/myusers/myusers-index.scss */
.user-msg {
  padding-bttom: .3rem;
}
/* line 257, ../../sass/myusers/myusers-index.scss */
.user-msg dd {
  padding-left: .1rem;
  border-top: 1px solid #ddd;
}
/* line 261, ../../sass/myusers/myusers-index.scss */
.user-msg .u-m-tit {
  padding: .15rem .1rem 0;
  line-height: .25rem;
  font-size: .12rem;
  color: #999;
}
/* line 267, ../../sass/myusers/myusers-index.scss */
.user-msg .u-m-tip {
  line-height: .45rem;
  overflow: hidden;
}
/* line 270, ../../sass/myusers/myusers-index.scss */
.user-msg .u-m-tip .model-radius-btn {
  margin-top: .1rem;
  float: right;
}

/* line 278, ../../sass/myusers/myusers-index.scss */
.model-lable-msg {
  display: -webkit-box;
  display: box;
  height: .55rem;
  padding: 0 .1rem;
  font-size: .16rem;
  color: #333;
  -webkit-box-align: center;
  box-align: center;
}
/* line 287, ../../sass/myusers/myusers-index.scss */
.model-lable-msg:first-child .m-l-m-body {
  border: none;
}
/* line 290, ../../sass/myusers/myusers-index.scss */
.model-lable-msg .m-l-m-tit {
  width: .48rem;
  font-size: inherit;
}
/* line 294, ../../sass/myusers/myusers-index.scss */
.model-lable-msg .m-l-m-body {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-left: .1rem;
  border-top: 1px solid #ddd;
  color: #666;
}

/* 用户详情 end */
/* 短信管理 begin */
/* line 306, ../../sass/myusers/myusers-index.scss */
.msg-cont .show-dorp {
  position: absolute;
  width: 100%;
  margin: 0;
  background: #fff;
  z-index: 2;
  display: none;
}
/* line 314, ../../sass/myusers/myusers-index.scss */
.msg-cont .m-c-header {
  margin: .1rem auto -.08rem;
  text-align: center;
}

/* line 320, ../../sass/myusers/myusers-index.scss */
.msg-tips {
  display: inline-block;
  padding: 0 .14rem;
  line-height: .22rem;
  text-align: center;
  font-size: .14rem;
  color: #999;
  background: #e2e2e2;
  border-radius: .1rem;
}

/* line 330, ../../sass/myusers/myusers-index.scss */
.icon-all-users, .icon-friends {
  width: .3rem;
  height: .3rem;
  background-image: url(../../images/users/icon_all.png);
}

/* line 335, ../../sass/myusers/myusers-index.scss */
.icon-friends {
  background-image: url(../../images/users/icon_friend.png);
}

/* line 340, ../../sass/myusers/myusers-index.scss */
.bor-list li {
  display: -webkit-box;
  display: box;
  padding-left: .3rem;
  border-bottom: 1px solid #ddd;
  line-height: .35rem;
  font-size: inherit;
}
/* line 347, ../../sass/myusers/myusers-index.scss */
.bor-list li em {
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 352, ../../sass/myusers/myusers-index.scss */
.bor-list li .checkbox {
  margin-right: .13rem;
}

/* 输入短信内容 begin */
/* line 358, ../../sass/myusers/myusers-index.scss */
.msg-input-box {
  width: 100%;
  height: .98rem;
  padding: 0 .1rem;
  position: relative;
}
/* line 363, ../../sass/myusers/myusers-index.scss */
.msg-input-box textarea {
  width: 100%;
  height: 100%;
  padding: .04rem;
  border: 2px solid #ccc;
  border-radius: .04rem;
  font-size: inherit;
  resize: none;
  outline: none;
}
/* line 373, ../../sass/myusers/myusers-index.scss */
.msg-input-box .msg-size {
  position: absolute;
  right: .16rem;
  bottom: .02rem;
  font-size: .14rem;
  color: #999;
}

/* line 381, ../../sass/myusers/myusers-index.scss */
.m-i-remarks {
  padding: .05rem 0 .1rem;
  text-align: center;
}

/* line 385, ../../sass/myusers/myusers-index.scss */
.msg-subs {
  padding: 0 .1rem;
}
/* line 387, ../../sass/myusers/myusers-index.scss */
.msg-subs span {
  float: left;
  width: 48%;
}
/* line 390, ../../sass/myusers/myusers-index.scss */
.msg-subs span:last-child {
  float: right;
}

/* 群组管理 begin */
/* line 396, ../../sass/myusers/myusers-index.scss */
.g-c-header {
  height: .44rem;
  padding: 0 .1rem;
  line-height: .44rem;
  background: #f3f3f3;
  font-size: .16rem;
}
/* line 402, ../../sass/myusers/myusers-index.scss */
.g-c-header .creat-grunp-btn {
  float: right;
  padding: 0 .1rem;
  margin-top: .08rem;
  line-height: .27rem;
  background: #2f87de;
  border-radius: .12rem;
  color: #fff;
}

/* line 412, ../../sass/myusers/myusers-index.scss */
.group-box {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  height: .6rem;
  padding: 0 .12rem 0 .16rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: .2rem 0 0;
  color: #333;
  font-size: .16rem;
}
/* line 424, ../../sass/myusers/myusers-index.scss */
.group-box:active {
  background: #f8f8f8;
}

/* line 428, ../../sass/myusers/myusers-index.scss */
.g-b-tit {
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
}

/* line 433, ../../sass/myusers/myusers-index.scss */
.icon-dorp-right {
  display: block;
  width: 0;
  height: 0;
  border: .08rem solid transparent;
  border-left: .13rem solid #b6b6b6;
  -webkit-transition: all .2s;
  transition: all .2s;
}
/* line 441, ../../sass/myusers/myusers-index.scss */
.icon-dorp-right.change {
  -webkit-transform-origin: 30% 50%;
  transform-origin: 30% 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 448, ../../sass/myusers/myusers-index.scss */
.group-controll-btns {
  height: .4rem;
  font-size: .08rem;
  text-align: center;
}
/* line 452, ../../sass/myusers/myusers-index.scss */
.group-controll-btns span {
  display: inline-block;
  width: .54rem;
  border-left: 1px solid #ddd;
}
/* line 456, ../../sass/myusers/myusers-index.scss */
.group-controll-btns span:first-child {
  border: none;
}
/* line 459, ../../sass/myusers/myusers-index.scss */
.group-controll-btns span i {
  display: block;
  width: .3rem;
  height: .3rem;
  margin: 0 auto;
  background-size: 100%;
}
/* line 467, ../../sass/myusers/myusers-index.scss */
.group-controll-btns .icon-add {
  background-image: url(../../images/users/icon_group_add_g.png);
}
/* line 470, ../../sass/myusers/myusers-index.scss */
.group-controll-btns .icon-sendmsg {
  background-image: url(../../images/users/icon_group_mess.png);
}
/* line 473, ../../sass/myusers/myusers-index.scss */
.group-controll-btns .icon-delgroup {
  background-image: url(../../images/users/icon_group_dele_g.png);
}
/* line 476, ../../sass/myusers/myusers-index.scss */
.group-controll-btns .icon-callphone {
  background-image: url(../../images/users/icon_user_call.png);
}
/* line 479, ../../sass/myusers/myusers-index.scss */
.group-controll-btns .icon-sendmsg {
  background-image: url(../../images/users/icon_user_mess.png);
}

/* line 484, ../../sass/myusers/myusers-index.scss */
.group-cont .bor-list {
  display: none;
}
/* line 486, ../../sass/myusers/myusers-index.scss */
.group-cont .bor-list .b-l-body {
  width: 100%;
  display: inherit;
  -webkit-transform: translateX(0.4rem);
  transform: translateX(0.4rem);
  -webkit-transition: all .2s;
  transition: all .2s;
}
/* line 493, ../../sass/myusers/myusers-index.scss */
.group-cont .bor-list .b-l-body .del-btn {
  display: block;
  width: .4rem;
  text-align: center;
  background: #f00;
  color: #fff;
  font-size: .12rem;
}

/* 新建群组 begin */
/* line 504, ../../sass/myusers/myusers-index.scss */
.creategroup .layout-body {
  height: 2rem;
  padding: 0;
  /* 重写 bor-list */
}
/* line 508, ../../sass/myusers/myusers-index.scss */
.creategroup .layout-body .bor-list li {
  padding: 0 .04rem 0 .12rem;
}
/* line 510, ../../sass/myusers/myusers-index.scss */
.creategroup .layout-body .bor-list li:last-child {
  border: none;
}

/* 新建群组 end */
